<navbar>
  <div class="cm_logo">
    <p>Nana Farms</p>
    <img src="" alt="Nana Farms logo" />
  </div>
  <a href="/produce/add-new-produce">
    <button type="button" class="nav_btn">Add new item</button>
  </a>
  <form action="/search/:<%=produce.name%>/:<%=produce.id%>" method="get">
    <input
      type="search"
      name="search"
      id="search"
      placeholder="...apple"
      aria-label="search"
    />
    <button type="submit">Search</button>
  </form>
</navbar>
