<navbar>
  <div class="cm_logo">
    <p>Nana Farms</p>
    <img src="" alt="Nana Farms logo" />
  </div>
  <a href="/categories">Categories</a>
  <form action="/search/:<%=produce.name%>/:<%=produce.id%>" method="get">
    <input
      type="search"
      name="search"
      id="search"
      placeholder="...apple"
      aria-label="search"
    />
    <button type="submit">Search</button>
  </form>
</navbar>
