<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Categories</title>
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/nav.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="/styles/categories.css" />
  </head>
  <body>
    <%- include('partials/navbar')%>
    <header class="cat_header">
      <h1>Categories</h1>
    </header>
    <main class="category_main">
      <section class="categories">
        <table class="categories_table">
          <thead>
            <tr>
              <th>Category</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% categories.forEach(category => { %>
            <tr>
              <td><%= category.category %></td>
              <td>
                <form
                  action="/categories/delete/<%= category.id %>"
                  method="post"
                >
                  <button type="submit" class="del_btn" aria-label="delete button">
                    <img src="/images/delete.svg" alt="trash can" class="trash_img">
                  </button>
                </form>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </section>
      <div class="controls_cat">
        <a href="/categories/form/create" class="add_btn">
          <button>
            <img src="/images/add.svg" alt="plus_icon" aria-label="Add new category" class="add_img">
          </button>
        </a>
      </div>
    </main>
    <%- include('partials/footer', {year: year}); %>
  </body>
</html>
