<form action="/categories/create" method="post">
    <label for="category">category:</label>
    <input type="text" name="category" id="category" placeholder="...add category here">
    <button type="submit">Submit</button>
</form>