.produce_name{
    text-align: center;
    padding: 20px 0;
}

.content{
    background-color: #f3f3f3;
    margin-bottom: 20px;
}

.item_content{
    display: flex;
    justify-content: center;
}

.item p{
    margin: 20px;
}

.item{
    padding: 12px;
}

.actions{
    padding: 7px;
    display: flex;
    gap: 7px;
    justify-content: flex-end;
}

.actions button{
    padding: 3px 7px;
}

.actions button:hover{
    background-color: white;
}