.navbar {
  padding: 10px 20px;
  background-color: #0039a6;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_links {
  display: flex;
  gap: 20px;
}

.menu_btn{
  width: 20px;
  height: auto;
  display: none;
}


.nav_links > li {
  list-style-type: none;
}

.nav_links > li > a {
  color: aliceblue;
}

.bor_bottom {
  transition: background-color 0.3s ease-in;
  height: 2px;
}

.navbar li:hover .bor_bottom {
  background-color: black;
}

.cm_logo {
  display: flex;
  gap: 7px;
  align-items: center;
}

.cm_logo p {
  font-size: 1.2rem;
}

#search {
  padding: 7px 25px;
  border-radius: 7px;
  border: none;
  transition: border 100ms ease-in;
}

#search::placeholder {
  font-size: 1.2rem;
}

#search:focus {
  border: 3px solid grey;
  outline: none;
}

.search_btn {
  padding: 5px 12px;
  border-radius: 4px;
  font-weight: 700;
  border: none;
  transition: background-color 0.3s ease-in;
}

.search_btn:hover {
  background-color: darkgrey;
}

.search_btn:focus {
  border: 2px solid grey;
}

.logo {
  width: 50px;
  height: auto;
}
